# Server
PORT=3001
NODE_ENV=development

# Branch Identity
BRANCH_ID=bekasi
BRANCH_CODE=BKS

# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/pos_bekasi?retryWrites=true&w=majority

# Coordinator
COORDINATOR_URL=http://localhost:5000

# 2PC Config
CAN_COMMIT_TIMEOUT_MS=5000
DO_COMMIT_TIMEOUT_MS=10000
RECOVERY_INTERVAL_MS=30000
